<% content_for :head do %>
  <%= stylesheet_link_tag 'recipe_index' %>
<% end %>

<%= render 'shared/navbar' %>
<h1>List of Recipes: </h1>
<% @recipes.each do |recipe| %>
  <div class="recipe-profile">
    <ul>
        <li>
            <h2><%= link_to recipe.name, recipe_specific_path(recipe) %></h2>
            <p>Recipe by: <%= recipe.user.name %></p>
        </li>
    </ul>
  </div>
<% end %>

<%= link_to 'Add New Recipe', new_user_recipe_path(current_user), class: 'btn btn-primary' %>
