<% content_for :head do %>
  <%= stylesheet_link_tag 'recipe_index' %>
<% end %>

<%= render 'shared/navbar' %>
<div class="container mt-4">
  <h1 class="title d-flex justify-content-center">List of Recipes: </h1>
  <% @recipes.each do |recipe| %>
    <div class="d-flex justify-content-between mt-4 p-4 border rounded">
        <div>
          <h2><%= link_to recipe.name, recipe_specific_path(recipe), class: "text-decoration-none" %></h2>
          <button>REMOVE</button>
        </div>

        <div>
          <p><%= recipe.description %></p>
        </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to 'Add New Recipe', new_user_recipe_path(current_user), class: 'btn btn-success' %>
  </div>

</div>
