<% content_for :head do %>
  <%= stylesheet_link_tag 'user_index' %>
<% end %>

<%= render 'shared/navbar' %>
<h1>Recipe <%= @recipe.name %></h1>
<p>Preparation time: <%= @recipe.preparation_time %> hour</p>
<p>Cooking time: <%= @recipe.cooking_time %> hour</p>

<div class="d-flex g-3">
  <div class="mr-3">Public .</div>
  <%= form_with model: @recipe, url: toggle_public_user_recipe_path(current_user, @recipe), method: :put, local: true do |form| %>
    <div class="form-check form-switch ml-3">
      <%= form.hidden_field :public, value: "0" %> <!-- Hidden field for 'No' value -->
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= 'checked' if @recipe.public? %>>
    </div>
  <% end %>
</div>

<p>Steps go here...</p>

<div class="is-flex is-justify-content-space-between mt-3">
  <%= link_to 'Generate Shopping List',general_shopping_list_path, class: "button is-info is-light" %>
  <% if @recipe.user == current_user %>
    <%= link_to 'Add Ingredient',new_user_recipe_recipe_food_path(current_user,@recipe), class: "button is-warning is-light" %>
  <% end %>
</div>
<hr />


<script>
  // Add this script to handle the form submission when the checkbox state changes
  document.addEventListener('DOMContentLoaded', function() {
    var checkbox = document.getElementById('flexSwitchCheckDefault');
    checkbox.addEventListener('change', function() {
      this.form.submit();
    });
  });
</script>