<% content_for :head do %>
  <%= stylesheet_link_tag 'user_index' %>
<% end %>

<%= render 'shared/navbar' %>
<h1>Recipe <%= @recipe.name %></h1>
<p>Preparation time: <%= @recipe.preparation_time %> hour</p>
<p>Cooking time: <%= @recipe.cooking_time %> hour</p>
<p>Steps go here...</p>

<div class="button-container">
    <button>Generate Shopping list</button>
    <button>Add Ingredient</button>
</div>
<hr />
